* {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 247);
}
.main {
  margin-top: 5em;
  width: 82vw;
  height: 80vh;
  margin-left: 4em;
  display: flex;

  box-sizing: border-box;
}
.login {
  /* White shadow with transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  width: 396px;
  height: 320.825px;
  margin-left: 5em;

  margin-top: 4em;
}
.login-button button {
  width: 345px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0866ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.input-1 input {
  width: 344px;
  height: 38px;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
  border: 1px solid #dddfe2;
  font-size: 17px;
  padding-left: 1em;
}

.input-2 input {
  width: 344px;
  height: 38px;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-left: 1em;
  border: 1px solid #dddfe2;
  font-size: 17px;
  padding-left: 1em;
}

.forgot a {
  margin-left: 9em;
  margin-bottom: 1em;
  color: #0866ff;
  text-decoration: none;
}
.border {
  margin-top: 1em;
  border: 1px solid #dadde1;
  margin-left: 2em;
  margin-right: 2em;
}
.create button {
  margin-top: 1em;
  margin-left: 6em;
  width: 190px;
  height: 30px;
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  color: white;
  font-weight: bold;
  height: 3em;
}
.facebook {
  box-sizing: border-box;
  margin-top: 6em;
  margin-left: 11em;

  height: 12em;
}
.facebook-text {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding-left: 1em;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  margin-top: -0.5em;
}
